body {
    background-color: #f9e933; /* Yellow */
  }
  


ol {
    border: 2px solid black; 
    padding: 25px;
    margin: 20px; 
}

.List_A {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.paragraph {
    border: 10px solid black; 
    padding: 25px; 
    margin: 30px; 
}